DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_SECRET_KEY=replace-in-production
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend
DJANGO_SECURE_HSTS_SECONDS=3600

POSTGRES_DB=techniswiadectwo
POSTGRES_USER=techniswiadectwo
POSTGRES_PASSWORD=replace-locally
POSTGRES_HOST=db
POSTGRES_PORT=5432

NEXT_PUBLIC_API_URL=http://localhost:8000/api